.card-category {
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
  background-image: url(https://wallpapercave.com/wp/wp4016050.jpg);
}

.card-category:hover {
  text-decoration: none;
  color: white;
}
